<p>
This workshop is part of the Oregon State University Library 
<a href="http://guides.library.oregonstate.edu/Library-Workshops-for-Grad-Students-Faculty">Workshops for Grad Students and Faculty</a>. 
</p>

<p>
This workshop template and the lessons have been developed using <a href="https://software-carpentry.org/">Software Carpentry</a> materials. 
  However, this is not a Software Carpentry workshop. The git lesson that we will teach here is a shortened version of the 
  <a href="https://swcarpentry.github.io/git-novice/">original Version control with git lesson</a> from <a href="https://software-carpentry.org/">Software Carpentry</a>. 
</p>
