<p id="who">
  <strong>Who:</strong>
  The course is aimed at graduate students and other researchers. If you are an undergraduate student or a community member you are also welcome to assist. 
  <strong>
    This workshop is for beginners. You don't need to have any previous knowledge of the tools
    that will be presented at the workshop. If you are familiar with the tools and want to make sure that the level
    of the workshop is right for you, contact us and we will be happy to help.
  </strong>
</p>
